# local config file
GenConfigs.py

# logs and data archives
*.log
*.pkl

# compiled bytecode
__pycache__/

# virtualenv
venv/**

activate
myconfig.json
launch.json
test_metadata.out
perf-mon.out
blktrace-mon.out