# local config file
GenConfigs.py

# logs and data archives
*.log
*.pkl

# compiled bytecode
__pycache__/

# virtualenv
fass-profiler-env/

# vscode
.vscode/

*.ini
*.out
myconfig.json
capacity_factors.json